<div class="uk-container uk-container-small">
    <article class="uk-article">

        <h1 class="uk-article-title">Online Book Sharing Platform</h1>

        <p class="uk-text-lead">Use this site to share books.</p>

        <p>
            To get started, create an account or log in from the menu on the top right corner.
        </p>

    </article>
</div>