<div class="uk-container uk-container-small">

    <div>
        <h2>Register</h2>
        <h4 id="subheading">Enter your details below to register.</h4>
    </div>

    <form class="uk-form-horizontal uk-margin-medium" action="register" method="post">
        <div class="uk-margin">
            <label class="uk-form-label" for="fullname">Full Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="fullname" type="text" placeholder="E.g. John Doe" name="name">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="email">E-mail</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="email" type="text" placeholder="This will be your username" name="email">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="password">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="password" type="password" placeholder="Choose a strong password" name="password">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label"  for="address">Local Address</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" id="address" placeholder="Your address here" name="address"></textarea>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="contact">Contact no.</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="contact" type="text" placeholder="E.g. 0123456789" name="contact">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="city">City</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="city" type="text" placeholder="E.g. Anand" name="city">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="pincode">Pin Code</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="pincode" type="text" placeholder="E.g. 388120" name="pincode">
            </div>
        </div>
        <div class="uk-margin-medium">
            <button class="uk-button uk-button-primary">Submit</button>
            &nbsp;&nbsp;&nbsp;
            <button class="uk-button">Clear</button>
        </div>
    </form>
</div>