<div class="uk-container uk-container-small">

    <div class="uk-margin-medium-top">
        <h2>Registration successful.</h2>
        <h4>You have registered successfully.</h4>
        <h4><a href="/login">Click here</a> to login with your username and password. </h4>
    </div>
</div>