<div class="uk-container uk-container-small">

    <div class="uk-margin-medium-top">
        <h2>Request a book</h2>
        <h4 class="uk-margin-remove-top">Enter the details of the book to create a request.</h4>
    </div>

    <form class="uk-form-horizontal uk-margin-medium">
        <div class="uk-margin">
            <label class="uk-form-label" for="isbn">ISBN no.</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="isbn" type="text">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="bookname">Book Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="bookname" type="text">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="author">Author</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="author" type="text">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="publication">Publication</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="publication" type="text">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="preferred-city">Preferred City</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="preferred-city" type="text" placeholder="The city in which you want to get the book.">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="details">Additional Details</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" id="details" placeholder="Any additional details you want to provide about the request."></textarea>
            </div>
        </div>
        <div class="uk-margin-medium">
            <button class="uk-button uk-button-primary">Submit</button>
            &nbsp;&nbsp;&nbsp;
            <button class="uk-button">Clear</button>
        </div>
    </form>

</div>